<%- include('../partials/header') -%>

<div class="Admin">
  <h1>Admin Logout</h1>
  <p>Are you sure you want to logout?</p>
  <form action="/admin/logout" method="POST">
    <button type="submit" class="btn btn-danger">Logout</button>
  </form>
</div>

<%- include('../partials/footer') -%>
