<!-- views/partials/adminSidebar.ejs -->
<div class="bg-dark p-3" style="width: 300px; height: 100vh;">
    <h2 class="text-white">Admin Panel</h2>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/posts">All Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/compose">New Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/categories">Post Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/recentPosts">Recent Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/admin/logout">Logout</a>
      </li>
    </ul>
  </div>
  