<%- include('partials/header') -%>




<div class="aboutsec">

  <div class="pad">
    <p> Welcome to our Tech Blog, where we explore the ever-evolving world of
technology and its impact on our lives. From the latest gadgets and breakthroughs
in artificial intelligence to futuristic trends and the ethical considerations
surrounding emerging technologies, we delve into it all.</p>

  </div>

<div class="">



  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img height="250" width="350" src="images/about.png" alt="About Image" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h1>About Us</h1>
        <p>Thank you for visiting TechAlpha Blog. We're thrilled to have you here, and we look forward to embarking on this tech journey together. Get ready to unlock the limitless possibilities of technology and stay
          ahead of the curve. Let's dive in and explore the fascinating world of tech together!</p>
        <p></p>
      </div>
    </div>

    <h2 class="mt-4">Our Team</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img height="250" width="350" src="images/team-member1.png" alt="Team Member 1" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Treasure Idem</h5>
            <p class="card-text">Treasure Idem is an experienced researcher with a passion for technology. With an analytical mindset and attention to detail, William dives deep into the intricacies of various tech subjects, providing valuable insights and in-depth analysis.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img height="250" width="350" src="images/team-member2.png" alt="Team Member 2" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Gold Blessing</h5>
            <p class="card-text">Gold Blessing is a tech-savvy writer who loves exploring the latest trends and innovations in the tech world. With a knack for breaking down
              complex concepts, Gold is dedicated to delivering
              informative and engaging content</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img height="250" width="350" src="images/team-member3.png" alt="Team Member 3" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Joshep Godwin</h5>
            <p class="card-text">Joshep Godwin is a skilled developer and technology enthusiast. With a creative mindset and a knack for problem-solving, Joshep thrives in the world of coding and software development. Joshep's expertise
              helps bridge the gap between complex technical concepts and practical implementation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


</div>


<%- include('partials/footer') -%>
