<%- include('partials/header') -%>
<body class="error">

  <div class="compose2">
<div class="error-container">
  <i class="fa-solid fa-circle-exclamation"></i>
  <h1 class="display-4 text-danger">Name Not Found</h1>
  <p class="lead">Oops! Name not found on our database. Please search for a correct location, city, or country that's in our database.</p>
  <a href="/weather" class="btn btn-primary">Go back to Weather App</a>
</div>
</div>

</body>

<%- include('partials/footer') -%>
