<%- include('partials/header') -%>

<div class="Admin">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card ">
        <div class="card-body">
          <h1 class="card-title">Thank you for signing up!</h1>
          <p class="card-text">Welcome to our platform. Start composing your blog post by clicking the button below:</p>
          <a href="admin/dashboard" class="btn btn-primary">Click Here to visit your dashboard</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
